<div class="container">
    <div class="row">
        <!--Important note to cover the whole div-->
        <div class="jumbotron" style="background-size: cover; height:630px" [style.background-image]="'url(' + game.url + ')'">
            <h1>{{game.name}}</h1>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <p style="color:white">{{game.description}}</p>
        </div>
    </div>
</div>

<div class='container' *ngIf="isAuth()">
    <div class='row'>
        <div class="panel panel-default">

            <div class="panel-heading">
                <h3>Players List <span class="label label-default"></span></h3>
            </div>

            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item"> Total {{(playerList | async)?.length}} players</li>
                    <li class="list-group-item" *ngFor="let player of playerList | async">{{player.name}}</li>
                </ul>
            </div>

            <!--select the platform and game id-->
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="select">select platform and User Id</label>
                    <select class="form-control" #platformOption>
                        <option></option>
                        <!--set some tricks to prevent the appearance of other games-->
                        <option *ngFor="let item of currentUser | async" [hidden]="item.infoGameName !== game.name" value="{{item.infoGameId}}({{item.infoGamePlatform}})">{{item.infoGameId}}({{item.infoGamePlatform}}) </option>
                </select>
                </div>
            </div>

            <div class="panel-footer">
                <div class="form-group">
                    <button class="btn btn-primary" (click)="onAddPlayer(platformOption.value)" [disabled]="isAdded">Add Me</button>
                </div>
            </div>


        </div>
    </div>
</div>
