<nav class="navbar navbar-default">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" [routerLink]="['frontpage']">Game Matching</a>
        </div>

        <ul class="nav navbar-nav">
            <li><a [routerLink]="['gamelist']">Game List</a></li>
            <li><a [routerLink]="['lookingforgroup']">Looking For Group</a></li>
            <li><a [routerLink]="['signup']" *ngIf="isAuth() == 0">Sign Up</a></li>
            <li><a [routerLink]="['login']" *ngIf="isAuth() == 0">Login</a></li>
            <li><a [routerLink]="['members']" *ngIf="isAuth()">Members</a></li>
            
        </ul>
        <ul class="nav navbar-nav navbar-right" *ngIf="isAuth()">
            <li *ngIf="emailVerify()"><a [routerLink]="['profilecreate']" style="cursor: pointer;">Create Profile</a></li>
            <li><a (click)="onLogout()" style="cursor: pointer;">Logout</a></li>
        </ul>
    </div>
    <!-- /.container-fluid -->

</nav>
