<div class="container">


    <!---->
    <!---->
    <!--Basic information-->
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>Basic Profile</h3>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" (submit)="onSubmitProfileBasic()">

                        <div class="col-xs-4">
                            <a class="thumbnail">
                                <img src="{{imageUrl}}" style="width:300px; height:300px;">
                            </a>
                        </div>

                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="profileImage">Upload your profile Image</label>
                                <input type="file" class="form-control" name="profileImage" data-max-size="2048" id="image" [(ngModel)]="image" />
                            </div>
                        </div>

                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="username">username</label>
                                <span class="label label-default"> current username: {{( currentBasicProfile | async)?.username}} </span>
                                <input type="text" class="form-control" name="username" [(ngModel)]="username" required/>
                            </div>
                        </div>

                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="age">Age</label> <span class="label label-default">current age: {{( currentBasicProfile | async)?.age}} </span>
                                <input type="number" class="form-control" name="age" min="1" max="110" [(ngModel)]="age" required />
                            </div>
                        </div>

                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="startTime">Time Zone</label> <span class="label label-default"> current Time Zone: {{( currentBasicProfile | async)?.timeZone}} </span>
                                <input type="text" class="form-control" name="timeZone" [(ngModel)]="timeZone" />
                            </div>
                        </div>

                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="weekdayTime">Game Time for weekdays</label> <span class="label label-default"> current startTime: {{( currentBasicProfile | async)?.weekdayTime}} </span>
                                <input type="time" class="form-control" name="weekdayTime" [(ngModel)]="weekdayTime" />
                            </div>
                        </div>

                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="weekendTime">Game Time for weekends</label> <span class="label label-default"> current endTime: {{( currentBasicProfile | async)?.weekendTime}}</span>
                                <input type="time" class="form-control" name="weekendTime" [(ngModel)]="weekendTime" />
                            </div>
                        </div>

                        <div class="col-xs-12">
                            <div class="form-group">
                                <button class="btn btn-primary" type="submit">Add Basic Profile</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--Select game-->
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>Game info</h3>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" (submit)="onSubmitProfileGame()">

                        <div class="form-group">
                            <label for="gameId" class="col-xs-2 control-label">Game ID</label>
                            <div class="col-xs-10">
                                <input type="text" name="infoGameId" class="form-control" [(ngModel)]="infoGameId" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="platform" class="col-xs-2 control-label">Platform</label>
                            <!--Important place-->
                            <div class="col-xs-10">
                                <select class="form-control" #platform (change)="onSelectPlatform($event.target.value)" name="infoGamePlatform" [(ngModel)]="infoGamePlatform">
                                    <option value="0">Select</option>
                                    <option *ngFor="let platform of platforms" value="{{platform.name}}" >{{platform.name}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-offset-2 col-xs-10">
                                <div class="checkbox">
                                    <label class="checkbox">
                                      <input type="checkbox" name="infoChannel" [(ngModel)]="infoChannel"> Radio Channel
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="game" class="col-xs-2 control-label">game</label>
                            <div class="col-xs-10">
                                <select class="form-control" #game (change)="onSelectGame($event.target.value)" name="infoGameName" [(ngModel)]="infoGameName">
                                     <option value="0">Select</option>
                                     <option *ngIf="selectedPlatform == 'PC'" value="World of Warcraft" >World of Warcraft</option>
                                     <option *ngIf="selectedPlatform !== 'PC'" value="Diablo 3" >Diablo 3</option>
                                     <option *ngIf="selectedPlatform !== 'PC'" value="Destiny" >Destiny</option>
                                     <option *ngIf="selectedPlatform == 'PC' || selectedPlatform == 'XBox'" value="Left 4 Dead 2" >Left 4 Dead 2</option>
                            </select>
                            </div>
                        </div>

                        <div class="col-xs-offset-2 col-xs-10">
                            <div class="form-group" *ngIf="selectedGame == 'World of Warcraft'">
                                <div class="checkbox">
                                    <label *ngFor="let character of wowCharacters">
                                        <input type="checkbox" 
                                         value="{{character}}" 
                                         name="options"
                                         [checked]="infoGameCharacter.indexOf(character) >= 0"
                                         (change)="updateCheckedOptions(character , $event)" >
                                         {{character}} &nbsp;&nbsp;
                                </label>
                                </div>
                            </div>

                            <div class="form-group" *ngIf="selectedGame == 'Diablo 3'">
                                <div class="checkbox">
                                    <label *ngFor="let character of D3Characters">
                                        <input type="checkbox" 
                                         value="{{character}}" 
                                         name="options"
                                         [checked]="infoGameCharacter.indexOf(character) >= 0"
                                         (change)="updateCheckedOptions(character , $event)" >
                                         {{character}} &nbsp;&nbsp;
                                </label>
                                </div>
                            </div>

                            <div class="form-group" *ngIf="selectedGame == 'Destiny'">
                                <div class="checkbox">
                                    <label *ngFor="let character of destinyCharacters">
                                        <input type="checkbox" 
                                         value="{{character}}" 
                                         name="options"
                                         [checked]="infoGameCharacter.indexOf(character) >= 0"
                                         (change)="updateCheckedOptions(character , $event)" >
                                         {{character}} &nbsp;&nbsp;
                                </label>
                                </div>
                            </div>

                            <div class="form-group" *ngIf="selectedGame == 'Left 4 Dead 2'">
                                <div class="checkbox">
                                    <label *ngFor="let character of L4D2Characters">
                                         <input type="checkbox" 
                                         value="{{character}}" 
                                         name="options"
                                         [checked]="infoGameCharacter.indexOf(character) >= 0"
                                         (change)="updateCheckedOptions(character , $event)" >
                                         {{character}} &nbsp;&nbsp;
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="gameStyle" class="col-xs-2 control-label">gameStyle</label>
                            <div class="col-xs-10">
                                <select class="form-control" name="infoGameStyle" [(ngModel)]="infoGameStyle">
                                    <option value="Any">Any</option>
                                    <option value="Casual">Casual</option>
                                    <option value="Serious">Serious</option>
                                    <option value="Zealous">Zealous</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-xs-12">
                            <div class="form-group">
                                <button class="btn btn-warning" type="submit">Add Game Profile</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>current game info</h3>
                </div>
                <div class="panel-body">
                    <div class="alert alert-success" role="alert">{{ (currentGameProfile | async)?.length }} game info </div>
                    <table class="table table-hover">
                        <tr>
                            <th>Platform</th>
                            <th>Game Id</th>
                            <th>Game</th>
                            <th>Game Style</th>
                            <th>Character</th>
                            <th>voice channel</th>
                        </tr>
                        <tr *ngFor="let game of currentGameProfile | async">
                            <td>{{game.infoGamePlatform}}</td>
                            <td>{{game.infoGameId}}</td>
                            <td>{{game.infoGameName}}</td>
                            <td>{{game.infoGameStyle}}</td>
                            <td>{{game.infoGameCharacter}}</td>
                            <td>{{game.infoChannel}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
