<div class="container">
    <div class="row">

        <div class="col-xs-3" *ngFor="let game of games; let i = index">
            <div class="thumbnail">
                <img src="{{game.url}}" alt="{{game.name}}">
                <div class="caption">
                    <h3>{{game.name}}</h3>
                    <p>Platform:<span class="badge" *ngFor="let platform of game.platforms">{{platform}}</span></p>
                    <div *ngIf="i == 0">Total Players: <h4>{{ (wowList | async )?.length  }} </h4> </div>
                    <div *ngIf="i == 1">Total Players: <h4>{{ (diabloList | async )?.length  }} </h4> </div>
                    <div *ngIf="i == 2">Total Players: <h4>{{ (l4d2List | async )?.length  }} </h4> </div>
                    <div *ngIf="i == 3">Total Players: <h4>{{ (destinyList | async )?.length  }} </h4> </div>
                    <p>Characters:</p>
                    <ul class="list-group">
                        <li class="list-group-item" *ngFor="let character of game.characters">{{character}}</li>
                    </ul>
                    <p><a [routerLink]="['/gamedetail', game.id]" class="btn btn-primary" role="button">view detail</a>
                </div>
            </div>
        </div>

    </div>
</div>
