<div class="container">
  <div class="row">
    <!--<img class="img-rounded" src="assets/images/lock.svg" id="lock">-->

    <span class="error" *ngIf="error">{{ error }}</span>

    <button class="btn btn-primary btn-lg btn-block" (click)="loginFb()" id="fb">Login With Facebook</button><br>
    <button class="btn btn-danger btn-lg btn-block" (click)="loginGoogle()" >Login With Google</button><br>
    <button class="btn btn-default btn-lg btn-block" routerLink="/login-email">Email</button>

    <a routerLink="/signup" routerLinkActive="active" class="alc">No account? <strong>Create one here</strong></a>
    <a routerLink="/forgot" routerLinkActive="active" class="alc">Forgot password</a>

  </div>
</div>
