<div class="container">
    <div class="jumbotron">
        <h1>Game Matching</h1>
        <p>Cross platform, International</p>
        <p>Find your best game partner here with </p>
        <h3>{{(userCount | async)?.length}}</h3> 
        <p>people from all over the world</p>
        <p><a class="btn btn-primary btn-lg" role="button" [routerLink]="['/lookingforgroup']" >Looking for Team Now</a></p>
    </div>
</div>


<div class="container" style="border:3px solid black">
    <div class="row">
        <p>This is the space for Ads</p>
    </div>
</div>


