<div class="container">
  <div class="row">
    <a routerLink="/login" id="goback">Go back</a>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>Custom Login</h3>
      </div>
      <div class="panel-body">
        <span class="error" *ngIf="error">{{ error }}</span>

        <form #formData='ngForm' (ngSubmit)="onSubmit(formData)">

          <div class="form-group">
            <label for="email">Email address</label>
            <input type="text" placeholder="Email address.." (ngModel)="email" name="email" class="txt form-control" required>
          </div>

          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" placeholder="Password" (ngModel)="password" name="password" class="txt form-control" required>
          </div>

          <button type="submit" [disabled]="!formData.valid" class="basic-btn btn btn-primary">Log in</button>
          <a routerLink="/signup" class="alc">Don't have an account?</a>
        </form>
      </div>
    </div>
  </div>
