<div class="container">
    <div class="row">
        <a routerLink="/login" id="goback">Go back</a>
        <div class="well">
            <label for="reset">
                <span>Please input your email address</span>
                <input type="email" #userEmail>
            </label>
            <button (click)="resetPassword(userEmail.value)" class="btn btn-default">Reset password</button>
        </div>
    </div>
</div>
