<div class="container">
  <div class="row">

    <div class="panel panel-default">
      <div class="panel-body">
        <!--shows the profile username -->
         <h2 *ngIf="currentUser">Hey {{ (currentUser | async)?.username  }}!</h2>
         <!--Show the social network account name if there is no username yet-->
         <h2 *ngIf="!currentUser">Hey {{ name.auth.displayName }}!</h2>
      </div>
      <div class="panel-footer"><h4><small>there are {{(userCount | async)?.length}} users now</small></h4></div>
    </div>
  </div>
</div>
