<div class="container">

    <!--Add state-->
    <div class="row" *ngIf="isAuth()">
        <div class="col-xs-12">
            <div class="well">
                <button class="btn btn-warning" (click)="changeAddState()">Post a new Request</button>
            </div>
        </div>
    </div>

    <!--edit form-->
    <div class="row" *ngIf="editState">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>Edit your Grouping Post</h3>
                </div>
                <div class="panel-body">
                    <form (submit)="editGamePost(activeStartTime.value, activeEndTime.value)">

                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="activePlatform">platform</label>
                                <select class="form-control" name="activePlatform" [(ngModel)]="activePlatform" (change)="onSelectPlatform($event.target.value)" disabled>
                                        <option>select platform</option>
                                        <option value="PC">PC</option>
                                        <option value="PS3">PS3</option>
                                        <option value="PS4">PS4</option>
                                        <option value="XBox">XBox</option>
                                        <option value="XB1">XB1</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-xs-6">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label for="activeType">type</label>
                                    <select class="form-control" name="activeType" [(ngModel)]="activeType" disabled>
                                        <option value="match">match</option>
                                        <option value="event">event</option>
                                    </select>
                                </div>
                            </div>


                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label for="activeGame">game</label>
                                    <select class="form-control" name="activeGame" [(ngModel)]="activeGame" disabled>
                                        <option>select game</option>
                                        <option value="World of WarCraft" *ngIf="selectedPlatform == 'PC'">World of WarCraft</option>
                                        <option value="Left 4 Dead 2" *ngIf="selectedPlatform == 'PC' || selectedPlatform == 'XBox'" >Left 4 Dead 2</option>
                                        <option value="Diablo 3" *ngIf="selectedPlatform !== 'PC'" >Diablo 3</option>
                                        <option value="Destiny" *ngIf="selectedPlatform !== 'PC'">Destiny</option>
                                    </select>
                                </div>
                            </div>

                        </div>

                        <div class="col-xs-6">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label for="activeStartTime">startTime</label>
                                    <input type="datetime-local" class="form-control" name="activeStartTime" #activeStartTime>
                                </div>
                            </div>

                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label for="activeEndTime">endTime</label>
                                    <input type="datetime-local" class="form-control" name="activeEndTime" #activeEndTime>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="activeDescription">descrption</label>
                                <input type="textarea" name="activeDescription" class="form-control" rows="1" [(ngModel)]="activeDescription" />
                            </div>
                        </div>

                        <div class="col-xs-12">
                            <button class="btn btn-success" type="submit">Update Your Post</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--Add form-->
    <div class="row" *ngIf="addState">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>New Grouping Post</h3>
                </div>
                <div class="panel-body">
                    <form (submit)="addGamePost(
                        game.value,
                        type.value,
                        platform.value,
                        startTime.value,
                        endTime.value,
                        description.value)">

                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="platform">platform</label>
                                <select class="form-control" #platform (change)="onSelectPlatform($event.target.value)">
                                        <option>select platform</option>
                                        <option value="PC">PC</option>
                                        <option value="PS3">PS3</option>
                                        <option value="PS4">PS4</option>
                                        <option value="XBox">XBox</option>
                                        <option value="XB1">XB1</option>
                                    </select>
                            </div>
                        </div>

                        <div class="col-xs-6">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label for="type">type</label>
                                    <select class="form-control" #type>
                                        <option value="match">match</option>
                                        <option value="event">event</option>
                                    </select>
                                </div>
                            </div>


                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label for="game">game</label>
                                    <select class="form-control" #game>
                                    <option>select game</option>
                                    <option value="World of WarCraft" *ngIf="selectedPlatform == 'PC'">World of WarCraft</option>
                                    <option value="Left 4 Dead 2" *ngIf="selectedPlatform == 'PC' || selectedPlatform == 'XBox'" >Left 4 Dead 2</option>
                                    <option value="Diablo 3" *ngIf="selectedPlatform !== 'PC'" >Diablo 3</option>
                                    <option value="Destiny" *ngIf="selectedPlatform !== 'PC'">Destiny</option>
                                </select>
                                </div>
                            </div>

                        </div>

                        <div class="col-xs-6">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label for="startTime">startTime</label>
                                    <input type="datetime-local" class="form-control" name="startTime" #startTime/>
                                </div>
                            </div>

                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label for="endTime">endTime</label>
                                    <input type="datetime-local" class="form-control" name="endTime" #endTime/>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="descrption">descrption</label>
                                <input type="textarea" name="descrption" class="form-control" rows="1" #description/>
                            </div>
                        </div>

                        <div class="col-xs-12">
                            <button class="btn btn-primary" type="submit">Add New Post</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--filter-->
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <!--<select class="form-control" (change)="filterByPlatform(platformFilter.value)" #platformFilter>-->
                    <!--<select class="form-control" (change)="filterByGame(gameFilter.value)" #gameFilter>-->

                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="filterByPlatform">Filter By Platform</label>
                            <select class="form-control" #platformFilter (change)="applyFilter(platformFilter.value, gameFilter.value, timeFilter.value)">
                                <option value="">Select</option>
                                <option value="PC">PC</option>
                                <option value="PS3">PS3</option>
                                <option value="PS4">PS4</option>
                                <option value="XBox">XBox</option>
                                <option value="XB1">XB1</option>
                            </select>
                        </div>
                    </div>


                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="filterByGame">Filter By Game</label>
                            <select class="form-control" #gameFilter (change)="applyFilter(platformFilter.value, gameFilter.value, timeFilter.value)">
                                <option value="">Select</option>
                                <option value="World of WarCraft">World of WarCraft</option>
                                <option value="Left 4 Dead 2">L4D2</option>
                                <option value="Diablo 3">Diablo 3</option>
                                <option value="Destiny">Destiny</option>
                            </select>
                        </div>
                    </div>



                    <div class="col-xs-12" [hidden]="!isAuth()">
                        <div class="form-group">
                            <label for="timeFilter">timeFilter</label>
                            <input type="datetime-local" class="form-control" #timeFilter (change)="applyFilter(platformFilter.value, gameFilter.value, timeFilter.value)">
                        </div>
                    </div>

                    <div class="col-xs-12">
                        <button class="btn btn-primary" (click)="applyFilter(platformFilter.value, gameFilter.value, timeFilter.value)">Apply filter</button>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    <!--Total list-->
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>All grouping request</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <tr>
                            <th>Game</th>
                            <th>Type</th>
                            <th>Platform</th>
                            <th>Start time</th>
                            <th>End time</th>
                            <th>Description</th>
                            <th>Delete</th>
                        </tr>
                        <!--((platformFilter == undefined|| platformFilter == gamePost.platform)&&(gameFilter == undefined || gameFilter == gamePost.game) && (timeFilter < gamePost.endTime || timeFilter == undefined))-->
                        <tr *ngFor="let gamePost of gamePosts">
                            <td>{{gamePost.game}}</td>
                            <td>{{gamePost.type}}</td>
                            <td>{{gamePost.platform}}</td>
                            <td>{{gamePost.startTime | date:'medium'}} </td>
                            <td>{{gamePost.endTime | date:'medium'}} </td>
                            <td>{{gamePost.description}}</td>
                            <td><button class="btn btn-danger" (click)="deleteGamePost(gamePost.$key)" *ngIf="gamePost.uid == uid">Delete</button></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!--Personal list-->
    <div class="row" *ngIf="isAuth()">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>Your Past grouping request</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <tr>
                            <th>Game</th>
                            <th>Type</th>
                            <th>Platform</th>
                            <th>Start time</th>
                            <th>End time</th>
                            <th>Description</th>
                            <th>Repost Past Request</th>
                            <th>Delete</th>
                        </tr>
                        <tr *ngFor="let gamePost of ownGamePosts">
                            <td>{{gamePost.game}}</td>
                            <td>{{gamePost.type}}</td>
                            <td>{{gamePost.platform}}</td>
                            <td>{{gamePost.startTime | date:'medium'}} </td>
                            <td>{{gamePost.endTime | date:'medium'}} </td>
                            <td>{{gamePost.description}}</td>
                            <td><button class="btn btn-info" (click)="showEdit(gamePost)" *ngIf="gamePost.endTime < nowTime">Repost</button></td>
                            <td><button class="btn btn-danger" (click)="deleteGamePost(gamePost.$key)">Delete</button></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
